.featured {
    background-image: url(./../../../../public/assets/home/featured.jpg),
    radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%)
    ;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}